<aside>
<h1 class="project-name">
  <a href="{{ site.baseurl }}/" >nFlow<span> Beta</span></a>
</h1>
<h2 class="project-tagline">Event/control/data flow</h2>
<nav>
  <ul>
    <li {% if page.permalink == '/getting-started/'%}class='is-active'{% endif%} ><a href="{{ site.baseurl }}/getting-started" >Getting Started</a></li>
    <li {% if page.permalink == '/event-flow/'%}class='is-active'{% endif%}><a href="{{ site.baseurl }}/event-flow" >Event Flow</a></li>
    <li {% if page.permalink == '/data-flow/'%}class='is-active'{% endif%}><a href="{{ site.baseurl }}/data-flow" >Data Flow</a></li>
    <li {% if page.permalink == '/control-flow/'%}class='is-active'{% endif%}><a href="{{ site.baseurl }}/control-flow" >Control Flow</a></li>
    <li {% if page.permalink == '/docs/'%}class='is-active'{% endif%}><a href="{{ site.baseurl }}/docs" >Documentation</a>
    </li>
    <li {% if page.permalink == '/faq/'%}class='is-active'{% endif%}><a href="{{ site.baseurl }}/faq" >FAQ</a></li>
  </ul>
</nav>
</aside>